<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<aop:aspectj-autoproxy/>
	
		<bean id="man" class="com.test01.Man"/>
		<bean id="woman" class="com.test01.Woman"/>
		<bean id="Aspect" class="com.test01.Aspect"/>
		
		
		<aop:config>
			<aop:aspect ref="Aspect">
				<aop:before method="before" pointcut="execution(public * *(..))"/>
				<aop:after method="after" pointcut="execution(public * *(..)))"/>
			</aop:aspect>
		</aop:config>
</beans>
