<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<bean id="favoriteFood" name="favoriteFood" class="com.test02.Food">
		<property name="name" value="쌀국수"></property>
		<property name="price" value="10000"></property>
	</bean>

	<bean id="unFavoriteFood" class="com.test02.Food">
		<constructor-arg name="name" value="오이"/>
		<constructor-arg name="price" value="1000"/>
	</bean>



	<bean id="myFood" class="com.test02.MyFood" autowire="constructor"/>
		<!-- 
			constructor: 생성자의 parameter type과 같은 type의 빈이 있으면 자동 할당,
			byName: setter와 같은 이름의 bean이 있으면 자동 할당
			byType: setter의 parameter와 같은 type bean이 있으면 자동 할당.
		 -->
	
	
	
	
</beans>
