<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="kim" class="com.test03.Address">
		<property name="name" value="김미림"></property>
		<property name="addr" value="서울시"></property>
		<property name="phone" value="010-1111-1111"></property>
	</bean>
	
	<bean id="park" class="com.test03.Address">
		<property name="name" value="박혜인"></property>
		<property name="addr" value="경기도"></property>
		<property name="phone" value="010-2222-2222"></property>
	</bean>
	
	
	
</beans>
