<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<!-- c:constructor -->
	<bean id="lee" class="com.test05.Emp" c:name="이창진" c:salary="3000000"/>
	<bean id="leess" class="com.test05.Developer" c:emp-ref="lee" c:dept="개발팀"/>
</beans>
